In [3]:
print ("hey")
print("hey")
print ("hey")

hey
hey
hey

In [4]:
for i in range (1,5):
  print ("hey",1)

hey 1
hey 1
hey 1
hey 1

In [5]:
for i in range (6,1 -1):
  print ("hey" ,i)

In [74]:
for i in (8,9):
print(i

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-74-6b2e77f71de5>, line 2)

In [10]:
x= "hey"
for i in range (0,3):
  print(i)

0
1
2

In [19]:
x="hey"
for index in range (0 ,3):
  print(x[index])

h
e
y

In [31]:
for i in range (1,31):
  if (i%5==0 and i%3==0):
    print(i)

15
30

In [30]:
for i in range (99,1,-1):
  if(i%2==0):
    print(i)

98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [44]:
#1to 10
totol=0

for i in range( 1,6):


  total  = total+1
  print ("total valve:", total)

total valve: 7
total valve: 8
total valve: 9
total valve: 10
total valve: 11

In [43]:
total=0
for i in "hey123":
  total = total +1
print("total valve:",total)

total valve: 6

In [47]:
#while statmemt

i=0
while (i<10):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [51]:
for i in range(1,5):
  print("hey")
  for j in range (1,5):
    print(i,j)

hey
1 1
1 2
1 3
1 4
hey
2 1
2 2
2 3
2 4
hey
3 1
3 2
3 3
3 4
hey
4 1
4 2
4 3
4 4

In [55]:
for i in range(1,5):
  print("$")
  for j in range (1,5):
    print("*")

$
*
*
*
*
$
*
*
*
*
$
*
*
*
*
$
*
*
*
*

In [54]:
print ("yash")
print ("verma")

yash
verma

In [58]:
for i in range (1,5):
  print ("hey")
  for j in range (1,5):
    print("*",end= " ")
    print("")

hey
*
*
*
*
hey
*
*
*
*
hey
*
*
*
*
hey
*
*
*
*

In [62]:
for i in range(1,5):
  for j in range(1,6):
    print (j, end=" ")



    print (" ")

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

In [68]:
for i in range(1, 6):
  for j in range (5,0, -2):
    print(j,end= " ")

    print(" ")

5
3
1
5
3
1
5
3
1
5
3
1
5
3
1

In [73]:
for i in range(1,6):
  for j in range ( 1,i+1):
    print("*", end=" ")

    print(" ")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*